<ion-view view-title="Log In" hide-nav-bar="true">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
        <div class="padding">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
