<ion-view view-title="Log In" hide-nav-bar="true">
  <ion-content class="login-main">
    <div class="logo-login text-center">
      <img id="logo-login" src="img/logo_white.png">
    </div>
    <form ng-submit="doLogin()">
      <div class="list list-login">
        <label class="item item-input login-input">
          <input class="login-holder" type="email" ng-model="loginData.email" placeholder="Email">
        </label>
        <label class="item item-input login-input">
          <input class="login-holder" type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <button class="button button-block button-balanced" type="submit">Log in</button>
      </div>
    </form>
  </ion-content>
</ion-view>
