<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Capture Signature</h1>
    <button class="button button-clear" ng-click="closeSignatureModal()">Close</button>
  </ion-header-bar>
  <ion-content padding="true" class="sign-content" scroll="false">
    <div style="height: 100%;">
      <canvas id='signatureCanvas' class="padding-horizontal" style="width: 100%; height: 80%;"></canvas>
      <div style="text-align: center;">
        <a class='button button-stable' ng-click='clearCanvas()' style="width: 49%; margin-top: 20px;">Clear</a>
        <a class='button button-positive' ng-click='saveCanvas()' style="width: 49%; margin-top: 20px;">Save</a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>