<ion-view view-title="{{ form.name }}">
  <ion-content>
    <form>
      <div class="list">
        <div ng-repeat="content in contents | orderBy: 'index'">
          <label class="item item-input item-stacked-label" ng-if="content.category == 'text'">
            <span class="input-label">{{ content.label }}</span>
            <input type="text" ng-model="submits[content.index]">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="showSignatureModal()">Sign</button>
        </div>
      </div>
    </form>
    <div class="col" ng-show="signature">
+      <img ng-src="{{signature}}" style="width:100%;" />
+   </div>
  </ion-content>
</ion-view>