/* Empty. Add your own CSS if you like */
ion-content {
  background-color: #F8F8F8;
}

.dark-menu, .bar.bar-stable.dark-menu, .bar.bar-stable.dark-menu .title  {
  background-color: #33485F;
}

.bar.bar-stable.dark-menu .title  {
  background-color: #33485F;
  font-size: 14px;
}

.bar.bar-stable.dark-menu .company  {
  background-color: #33485F;
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
}

.dark-menu .list .item-complex .item-content, .dark-menu .list .item {
  background-color: #33485F;
  color: white;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
}

.dark-menu .item {
  border: none;
}

.dark-menu.bar.bar-header {
  z-index: 11;
}

ion-side-menu-content {
  background-color: #33485F;
}

.dark-menu .item-icon-left .icon-card {
  color: white;
}

.bar {
  height: 50px;
}

.bar.bar-stable {
  background-color: #00BD9C;
  color: white;
}

.bar.bar-stable .title {
  background-color: #00BD9C;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.bar.bar-stable .button-icon, .bar .button.back-button  {
  color: white;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.login-main {
  background-color: #33485F;
  color: white;
}

.logo-login {
  margin: 40px auto;
}

#logo-login {
  width: 70%;
}

.list-login {
  margin-left: 10%;
  margin-right: 10%;
}

.button.button-positive {
  border: none;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}

.button.button-balanced {
  background-color: #00BD9C;
  border: none;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}

.item.item-input {
  background-color: transparent;
  border-bottom: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
}

.item-input input, .item-input textarea {
  font-family: 'Lato';
  font-weight: bold;
  font-size: 18px;
}

input, textarea {
  width: 100%;
}

.login-input.item-input input, .login-input.item-input textarea {
  color: white;
}

.icon-card {
  color: #00BD9C;
}

.subtitle-list {
  font-size: 10px;
}

.sign-content .button.button-positive {
  margin-top: 30px;
}

.sign-content .button.button-stable {
  margin-top: 30px;
}

#signatureCanvas {
  margin-top: 10px;
  width: 100%;
  border: 1px solid black;
  height: 70%;
}




